$color-textarea-background: #eeeeee;
$color-keyboard-background: #000000;
$color-keys-background: #3f4c61;
$color-keys-active-background: #525661;
$color-special-keys-background: #212636;
$color-keyboard-shadow: #000038;
$color-keys-text: rgb(246, 250, 246);


$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
