.keyboard {
  margin-top: 1vh;
  margin-right: 1vw;
  padding: 5px 10px;
  width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: $color-keys-text;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-shadow: -1px -1px 1px black;
  background-color: $color-keyboard-background;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 2px $color-keyboard-shadow;
  -moz-user-select: none;
  user-select: none;

  @media screen and (max-width: 900px){
    transform: scale(0.95);
  }

  @include media-tablet {
    transform: scale(0.89);
  }

  @media screen and (max-width: 900px){
    transform: scale(0.75);
  }

  @include media-mobile {
    transform: scale(0.42);
  }

  @include media-mobilesmall {
    transform: scale(0.40);
  }
}
