.text-field {
  background-color: $color-textarea-background;
  margin-right: 1vw;
  padding: 5px;
  font-size: 1.4rem;
  width: 80rem;
  min-width: 10rem;
  height: 40%;
  resize: none;
  border-radius: 5px;

  @media screen and (max-width: 900px){
    transform: scale(0.95);
  }

  @include media-tablet {
    height: 60%;
    width: 95vw;
  }
}
